# Ignore subfolders (databases) in hdb/ but retain files
hdb/*/*

logs/*.log
logs/*.txt

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

#archive and sandbox
Archive/
sandbox/

#sublime
*.sublime-workspace
*.sublime-project
terminal.glue

# OS X
.DS_Store

# console emulator settings
ConEmu.xml
